@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-yellow: #FFBA0D;
  --secondary-yellow: #886d00;
  --primary-white: #D9D9D9;
  --primary-gray: #AAAAAA;
  --primary-black: #090909;
  --secondary-black: #353535;
}

body {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.bg-primary-black {
  background-color: var(--primary-black);
}
button.bg-secondary-yellow:hover {
  background-color: var(--secondary-black);
  color: var(--primary-yellow);
}
.bg-primary-yellow {
  background-color: var(--primary-yellow);
}
button.bg-primary-yellow:hover {
  background-color: var(--secondary-black);
  color: var(--primary-yellow);
}
.bg-primary-gray {
  background-color: var(--primary-gray);
}

.bg-secondary-black {
  background-color: var(--secondary-black);
}
button.bg-secondary-black:hover {
  background-color: var(--primary-yellow);
  color: var(--primary-black);
}
.bg-secondary-yellow {
  background-color: var(--secondary-yellow);
}

.b-right-secondary-black {
  border-right: 1px solid var(--secondary-black);
}
.b-bottom-secondary-black {
  border-bottom: 1px solid var(--secondary-black);
}

.text-primary-black {
  color: var(--primary-black);
}
.text-primary-gray {
  color: var(--primary-gray);
}
.text-primary-white {
  color: var(--primary-white);
}
.text-primary-yellow {
  color: var(--primary-yellow);
}

/* LOADER */
/* HTML: <div class="loader"></div> */
.loader {
  width: 74px;
  height: calc(27px*0.866 + 6px);
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  background: var(--primary-yellow);
  --c1:conic-gradient(from 150deg at top   ,#000 60deg,#0000 0);
  --c2:conic-gradient(from -30deg at bottom,#000 60deg,#0000 0);
  --s:27px calc(27px*0.866);
  clip-path: polygon(17px 0,calc(100% - 17px) 0,100% 100%,0 100%);
  -webkit-mask:
    var(--c1) left  6px top 4px,
    var(--c2) center,
    var(--c1) right 6px top 4px,
    linear-gradient(#000 0 0);
  -webkit-mask-composite:xor;
  mask-composite:exclude;
  -webkit-mask-repeat:no-repeat;
  animation: l6 2s infinite both;
}
.loader:after {
  transform: rotate(180deg);
  transform-origin: 50% 99%;
  animation-delay: 0.5s;
}
@keyframes l6 {
  0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
  8.33% {-webkit-mask-size:var(--s),0    0  ,0    0  ,auto}
  16.67%{-webkit-mask-size:var(--s),var(--s),0    0  ,auto}
  25%,
  50%   {-webkit-mask-size:var(--s),var(--s),var(--s),auto}
  58.33%{-webkit-mask-size:0    0  ,var(--s),var(--s),auto}
  66.67%{-webkit-mask-size:0    0  ,0    0  ,var(--s),auto}
  75%,
  100%  {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
}